---
import '../style/style.css'
import Preloader from '../components/preloader.astro'
import Sidebar from '../components/sidebar.astro'
import Header from '../components/header.astro'

export interface Props {
  title: string
  page: string
}

const { title, page } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}apple-touch-icon.png`} />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}site.webmanifest`} />
    <link rel="sitemap" href={`${import.meta.env.BASE_URL}sitemap-index.xml`} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href={`${import.meta.env.BASE_URL}rss.xml`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Astro TailAdmin" />
  </head>
  <body
    x-data={`{ page: '${page}', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }`}
    x-init=" darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
  >
    <Preloader />

    <!-- ===== Page Wrapper Start ===== -->
    <div class="flex h-screen overflow-hidden">
      <Sidebar />

      <!-- ===== Content Area Start ===== -->
      <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
        <Header />

        <!-- ===== Main Content Start ===== -->
        <main>
          <slot />
        </main>
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
    <script src="../js/alpine.js"></script>
  </body>
</html>
